<!DOCTYPE HTML>
<html>
  <head>
    <title>CIEMAT</title> 
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}" />
  </head>
  <body>
    <header>
      <img src="{% static "logo_ciemat.gif" %}" alt="CIEMAT logo" height="50" width="50">
      <img src="{% static "logo_uned.png" %}" alt="UNED logo" height="50" width="50">
      <h1>CIEMAT</h1>
      {% if user.is_authenticated %}
      <div id="id_current_user">usuario: {{ user.username }}</div>
      {% endif %}
    </header>
    {% if user.is_authenticated %}
    <nav id="id_links">
      <ul>
        <li><a href="/" id="id_home">Inicio</a></li>
        <li><a href="/jobs/available" id="id_available_jobs">Tareas disponibles</a></li>
        <li><a href="/jobs/running" id="id_running_jobs">Tareas en ejecución</a></li>
        <li><a href="/logout" id="id_logout">Cerrar sesión</a></li>
      </ul>
    </nav>
    {% endif %}
    <article>
      <h1>Lista de tareas en ejecución</h1>
      <p>Estas son las tareas que has enviado previamente.</p>
      <table id="id_running_jobs">
        <tr>
          <th></th>
          <th></th>
          <th>Tarea</th>
          <th>ID</th>
        </tr>
      {% for runningjob in list.all %}
        <tr>
          <td>
            <form method="GET" action="/jobs/cancel">
            <button type="submit" name="job_id" value="{{ runningjob.runningjob_id }}">
            <img src="{% static "icons/cancel30.png" %}" alt="cancel {{ runningjob.runningjob_id }}" height="16" widht="16" />
            </button>
            </form>
          </td>
          <td>
            <form method="GET" action="/jobs/get">
            <button type="submit" name="job_id" value="{{ runningjob.runningjob_id }}">
            <img src="{% static "icons/diskette18.png" %}" alt="start {{ runningjob.runningjob_id }}" height="16" widht="16" />
            </button>
            </form>
          </td>
          <td>{{ runningjob.job.name }}</td>
          <td>{{ runningjob.runningjob_id }}</td>
        </tr>
      {% endfor %}
      </table>
    </article>
  </body>
</html>
