<!DOCTYPE HTML>
<html>
  <head>
    <title>CIEMAT Web</title> 
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}" />
  </head>
  <body>
    <header>
      <img src="{% static "logo_ciemat.gif" %}" alt="CIEMAT logo" height="50" width="50">
      <img src="{% static "logo_uned.png" %}" alt="UNED logo" height="50" width="50">
      <h1>CIEMAT</h1>
      {% if user.is_authenticated %}
      <div id="id_current_user">usuario: {{ user.username }}</div>
      {% endif %}
    </header>
    {% if user.is_authenticated %}
    <nav id="id_links">
      <ul>
        <li><a href="/" id="id_home">Inicio</a></li>
        <li><a href="/jobs/available" id="id_available_jobs">Tareas disponibles</a></li>
        <li><a href="/jobs/running" id="id_running_jobs">Tareas en ejecución</a></li>
        <li><a href="/logout" id="id_logout">Cerrar sesión</a></li>
      </ul>
    </nav>
    {% endif %}
    <article>
      <h1>Iniciar una tarea</h1>
      <form method="POST" action="/jobs/submit/">
        <label id="jobname-label" for="jobname">Tarea</label>
        <input type="text" name="jobname" value="{{ jobname }}" readonly /><br/>
        <label id="inputfile-label" for="input">Archivos de entrada</label>
        <input type="file" name="input" id="id_input" placeholder="Enter username" required />
        <input class="center" type="submit" value="iniciar" />
        {% csrf_token %}
      </form>
      <table id="id_running_jobs">
      {% for job in list.job_set.all %}
        <tr><td>{{ forloop.counter }}: {{ job.name }}</td></tr>
      {% endfor %}
      </table>
    </article>
  </body>
</html>
