<!DOCTYPE HTML>
<html>
  <head>
    <title>CIEMAT Web</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}" />
  </head>
  <body>
    <header>
      <img src="{% static "logo_ciemat.gif" %}" alt="CIEMAT logo" height="50" width="50">
      <img src="{% static "logo_uned.png" %}" alt="UNED logo" height="50" width="50">
      <h1>CIEMAT Web</h1>
    </header>
    <nav id="id_links">
      <ul>
        <li><a href="/" id="id_home">Home</a></li>
      </ul>
    </nav>
    <article>
      <h1>Sign in with your CIEMAT account</h1>
      <form method="POST" action="/login/">
      <fieldset>
        <p>
          <label class="field" id="username-label" for="username">Username:</label>
          <input type="text" name="username" id="id_username" placeholder="Enter username" required />
        </p>
        <p>
  				<label class="field" id="password-label" for="password">Password:</label>
          <input type="password" name="password" id="id_password" placeholder="Enter password" required />
        </p>
      </fieldset>
      <p class="center">
        <input class="submit" type="submit" value="sign in" />
      </p>
      <p class="center">
        <a href="/account/create">Create an account</a>
      </p>
        {% csrf_token %}
      </form>
    </article>
  </body>
</html>
